
@{
    ViewData["Title"] = "AddTeacher";
}

<!DOCTYPE html>
<html>
<head>
    <title>Add Teacher</title>
</head>
<body>
    
    @using (Html.BeginForm("FileTeacherWrite", "DayCare", FormMethod.Post))
    {
        <form id="form1" name="Teacher" method="post">
            <div>
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td><input id="FirstName" name="FirstName" type="text" required/></td>

                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input id="LastName" name="LastName" type="text" required/></td>
                    </tr>
                    <tr>
                        <td>Availiblity:</td>
                        <td>
                            <select id="Availiblity">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input id="Address" name="Address" type="text" required/></td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td><input id="Phone" name="Phone" type="text" required/></td>

                    <tr>
                        <td></td>
                        <td><input type="submit" id="btnSubmit" value="Submit" />
                    </tr>


                </table>
            </div>

        </form>
    }
    </body>
</html>
<br />
<br>
<a asp-area="" asp-controller="DayCare" asp-action="Login">Back</a>
