@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="DayCare" asp-action="Credentials">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" name="button1" class="btn btn-primary" />
    </form>
</div>

